body {
	
}

header {
	width: 100%;
	background-color: #3F51B5;
	padding: 20px 0px;
	box-shadow: 0px 4px 4px rgba( 0, 0, 0, 0.2 );
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
}

header h2 {
	margin: 0px;
	margin-left: 30px;
	color: white;
	font-weight: 300;
	font-size: 44px;
}

header .subtitle {
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 30px;
	margin-top: 20px;
}

.circle-btn {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	bottom: -15px;
	right: 30px;
	background-color: #FF4081;
	box-shadow:  0px 2px 4px rgba( 0, 0, 0, 0.4 );
	cursor: pointer;

	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;
			transition: all 0.2s;
}

.circle-btn:hover {
	box-shadow:  0px 2px 7px rgba( 0, 0, 0, 0.5 );
}

.month-btn img {
	margin-top: 9px;
	margin-left: 7px;
}

.month-btn.prev img {
	transform: rotate(180deg);
	margin-top: 6px;
}

.month-btn.prev {
	right: 190px;
}

.month-btn.next {
	right: 120px;
}

.setting-btn img {
	width: 24px;
	margin-top: 13px;
	margin-left: 13px;
}

/********************/
/*     CALENDAR     */
/********************/

#calendar {
	width: 90%;
	margin-top: 150px;
	margin-left: 5%;
}

.fc-toolbar h2 {
	color: rgba( 0, 0, 0, 0.38 );
	font-weight: 400;
}

.fc-day-number.fc-other-month {
	opacity: 1;
	color: rgba( 0, 0, 0, 0.12 );
}

.fc-day-number {
	font-weight: 300;
}

.fc th {
	vertical-align: middle;
	font-weight: 400;
	background: rgba( 0, 0, 0, 0.12 ) !important;
}

.fc-view-container tr {
	height: 40px;
}

.fc-basic-view .fc-day-number {
	padding: 0px 5px;
}

/********************/
/*      CUSTOM      */
/********************/

.retireDate {
	background: #3F51B5 !important;
	color: white !important;
	border-radius: 1px;
	border: none;
	padding: 3px;
	font-weight: 300;
	letter-spacing: 2px;
}

.tenDays {
	background: #FF4081 !important;
	color: white !important;
	border-radius: 1px;
	border: none;
	padding: 3px;
	font-weight: 300;
	letter-spacing: 2px;
}

/********************/
/*      OVERLAY     */
/********************/

.overlay {
	width: 100%;
	height: 100vh;
	background-image: url(../images/overlay.png);
	background-size: 100% 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.card {
	width: 400px;
	height: 450px;
	margin: 0px auto;
	border-radius: 16px;
	background-color: white;
	box-shadow: 1px 3px 3px 1px rgba( 0, 0, 0, 0.3 );
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -200px;
}

.card .title {
	width: 100%;
	height: 100px;
	background-color: #3F51B5;
	border-radius: 16px 16px 0px 0px;
	position: relative;
}

.welcome {
	color: white;
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	bottom: 10px;
	left: 20px;
}

.question {
	color: #202020;
	margin-left: 25px;
	margin-top: 30px;

}

.question img {
	width: 22px;
	vertical-align: bottom;
	margin-right: 5px;
}

#datepicker {
	width: 330px;
	height: 30px;
	padding: 0px 10px;
	padding-bottom: 10px;
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #202020;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.12 );
}

.day-value {
	display: inline-block;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px solid #C9C9C9;
	color: rgba( 0, 0, 0, 0.54 );
}

.radio-btns {
	width: 330px;
	margin-top: 20px;
	margin-left: 25px;
}

.options {
	display: inline-block;
	width: 80px;
	margin-right: 25px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
}

.radio {
	width: 20px;
	height: 20px;
	padding: 10px;
	position: relative;
}

.real-circle {
	width: 20px;
	height: 20px;
	background-image: url(../images/radio.png);
	background-size: 20px 40px;
	background-position: 0px 0px;
	position: relative;
	z-index: 5;
}

.options:hover .real-circle,
.valuable .real-circle {
	background-position: 0px 20px;
}

.wave {
	width: 12px;
	height: 12px;
	border: 14px solid white;
	border-radius: 20px;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

.wave.show {
	width: 40px;
	height: 40px;
	border: 0px solid white;
	background-color: rgba( 0, 150, 136, 1 );
	opacity: 0;

	-webkit-transition: all 0.6s, background-color 0s;
	   -moz-transition: all 0.6s, background-color 0s;
		 -o-transition: all 0.6s, background-color 0s;
			transition: all 0.6s, background-color 0s;
}

.options .text {
	position: absolute;
	top: 10px;
	left: 45px;
}

.ok {
	width: 60px;
	display: inline-block;
	padding: 7px 0px;
	text-align: center;
	color: white;
	background-color: #FF4081;
	border-radius: 3px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -30px;
	cursor: pointer;
	box-shadow: 0px 2px 2px rgba( 0, 0, 0, 0.2 );
}

.is-today .pika-button {
	color: #303F9F;
}

.pika-button:hover {
	background-color: #FF4081;
}

.is-selected .pika-button {
	background-color: #3F51B5;
	box-shadow: inset 0 1px 3px #283593;
}

.mobile {
	display: none;
}

@media all and ( max-width: 960px ) {
	.mobile {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -moz-box;
		display: flex;
		width: 100%;
		height: 120vh;
		background-color: #9B9B9B;
		position: fixed;
		left: 0px;
		top: -10vh;
		z-index: 50;
	}

	.text {
		color: white;
		font-size: 22px;
		margin: 0px auto;
		letter-spacing: 2px;
	}

	.text img {
		vertical-align: bottom;
		margin-right: 3px;
	}
}