body {
	
}

header {
	width: 100%;
	background-color: #3F51B5;
	padding: 20px 0px;
	box-shadow: 0px 4px 4px rgba( 0, 0, 0, 0.2 );
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
}

header h2 {
	margin: 0px;
	margin-left: 30px;
	color: white;
	font-weight: 300;
	font-size: 44px;
}

header .subtitle {
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 30px;
	margin-top: 20px;
}

#calendar {
	width: 96%;
	margin-top: 150px;
	margin-left: 2%;
}

.fc-view-container tr {
	height: 40px;
}

.fc th {
	vertical-align: middle;
	font-weight: 400;
}